{% include "./header.html" %}

<div class="container-fluid" >
    <div class="row" style="min-height:10px;"></div>
    
    <div class="row">
        {% include "./title.html" %}
    </div>

    <!-- add gray horizontal line -->
    <hr style="height:1px;color:lightgray;">
    
    <div class="row" style="min-height:400px;">
        <div class="col-sm-2" id="left-section" style="background-color: white; margin: 1%; border-right: 1px solid lightgrey;padding:10px">
            {% block left_section %}
                {% include "./left_section.html" %}
            {% endblock %}
        </div>

        <div class="col-sm-8" id="content" style="background-color: white; margin: 1%;">
            {% block content %}{% endblock %}
        </div>

        <div class="col-sm-1" id="right-section" style="background-color: white;">
            {% block right_section %}{% endblock%}
        </div>
    </div>

    <div class="row">
        {% include "./footer.html" %}
    </div>
</div>