{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Toy Gene Data Website">
        <meta name="keywords" content="HTML,gene,genes,advanced web dev">
        <meta name="author" content="D.Buchan">
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <link rel="stylesheet" type="text/css" href="../static/css/genedata.css">
        <script>
        function exampleFunction() {

            var x, y, z;
            x = 5;
            y = 6.7;
            z = "hello";
            x = x + y * 2;
            z = z + " world";
            // alert(x);
            console.log(z);
            var test_array = [1, 2, 3];
            var text_hash = {"one": 2, "two": 'this'};

            while(true) {
                console.log("I'm in the loop");
                break;
            }
            for (i = 0; i < test_array.length; i++) {
                console.log("array out: " + test_array[i]);
            }
            if (test_array.length == 3) {
                console.log("array is the right length");
            }
            test_array.forEach(function(element) {
                console.log("For each Output: " + element)
            });
            alert("Function called");
        };
        // exampleFunction();
        function changePage() {
            console.log('Changing Page');
            var h1_elements = document.querySelectorAll("h1");
            var list_panel = document.getElementById("gene_list");
            console.log(list_panel.innerHTML);
            // list_panel.innerHTML = "<h2>Ooops, they're gone!</h2>"
            var nav_links = document.getElementsByClassName("nav_link");
            for (var i = 0; i < nav_links.length; ++i) {
                nav_links[i].style.color = "black";
            }
            for (h in h1_elements) {
                h1_elements[h].innerHTML = "Organism Name: D. Bucheria"
            }
        }
        </script>
    </head>
    <body>